<script setup>
import { defineProps } from 'vue'
import { RouterLink } from "vue-router"


const {
    quizLength,
    numberOfCorrectAnswers
    } = defineProps([
        "quizLength",
        "numberOfCorrectAnswers"
    ])

const results = numberOfCorrectAnswers.value/quizLength.value    
</script>

<template>
    <div class="results">
        <p>Your Results...</p>
        <h1>
            {{ numberOfCorrectAnswers }}/{{ quizLength }}
        </h1>
        <RouterLink to="/">Back</RouterLink>
    </div>
</template>

<style scoped>
.results {
    text-align: center;
    padding: 100px 0;
}

p {
    font-size: 25px;
}

h1 {
    font-size: 70px;
    color: greenyellow
}
</style>